* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: Helvetica, sans-serif;
}

img {
    user-select: none;
    -webkit-user-drag: none;
}

/* Utility Classes--------------------------------------------------- */

.hide {
    display: none;
}

.show {
    display: block;
}

.green {
    background-color: green !important;
}

.red {
    background-color: red !important;
}

/* Utility Classes--------------------------------------------------- */

.page-wrapper {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url("/assets/homepage-background.jpg");
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    /* background-position: center; */
}

.backdrop-bg {
    height: 100%;
    width: 100%;
    position: relative;
    backdrop-filter: blur(4px);
}

.main-page-box {
    position: absolute;
    backdrop-filter: blur(4px);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #FCF0A4;
    background: radial-gradient(at center, #FCF0A4, #FFE835);
    width: 80%;
    height: 80vh;
    padding-block: 2rem;
    border: 2px solid #000;
}

.homepage-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.homepage-container .game-title {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.homepage-container .game-title img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.game-choice {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    height: 100px;
}

.game-choice .game-choice-box {
    flex-shrink: 0;
    height: 70px;
    width: 70px;
    text-align: center;
    font-size: 2rem;
    cursor: pointer;
}

.game-choice .game-choice-box img {
    height: 80%;
    width: 80%;
}

.score-box {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    gap: 1rem;
    background-color: #000814;
    color: white;
    padding: 4px;
    width: 100%
}

.score-box .score {
    display: flex;
    gap: 7rem;
}

.game-background {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.flags-container {
    margin: 5em auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3em;
    width: 80%;
}

.flags-container .flag-box {
    height: 200px;
    /* width: 30%; */
    margin-inline: auto;
    /* border: 2px solid #000; */
    /* box-shadow: 0 26px 58px 0 rgba(0, 0, 0, .22), 0 5px 14px 0 rgba(0, 0, 0, .18); */
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07), 0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07), 0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
}

.flags-container .flag-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* object-position: left; */
}

.option-container {
    margin-inline: auto;
    width: 100%;
}

.option-container .option {
    font-size: 1.8rem;
    text-align: center;
    width: 100%;
    margin-block: 0.7em;
    padding: 0.5em 1em;
    background-color: #000814;
    color: white;
    font-weight: 700;
    /* border: 2px solid #000; */
    box-shadow: 0 7px 15px 0 rgba(0, 0, 0, .13), 0 1px 4px 0 rgba(0, 0, 0, .11);
    /* box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07), 0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07), 0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07); */
    cursor: pointer;
}

.option-container .option:hover {
    /* box-shadow: 0 7px 15px 0 rgba(0, 0, 0, .13), 0 1px 4px 0 rgba(0, 0, 0, .11); */
    background-color: #ffd60a;
    color: #000814;
}

.game-content {
    position: fixed;
    top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-inline: 5rem;
}

.game-score {
    font-size: 3rem;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #000814;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 7px 15px 0 rgba(0, 0, 0, .13), 0 1px 4px 0 rgba(0, 0, 0, .11);
}

.sound-box {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #000814;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 7px 15px 0 rgba(0, 0, 0, .13), 0 1px 4px 0 rgba(0, 0, 0, .11);
}

.sound-box img {
    width: 60%;
}

.game-timer {
    width: 40%;
    height: 1rem;
    border-radius: 2rem;
    margin-inline: auto;
    margin-top: 1rem;
    background-color: #ff0000;
}

.timer-line {
    height: 100%;
    border-radius: 2rem;
    border: 2px solid #4caf50;
    background-color: #4caf50;
    transition: width 1s linear;
}

.timer-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.timer-box .timer-text {
    font-size: 2rem;
    font-weight: 700;
    margin-block: 1em;
}

.timer-box .timer {
    font-size: 5rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000814;
    margin-inline: auto;
    /* transition-timing-function: ease-in-out; */
    height: 100px;
    width: 100px;
    border-radius: 50%;
    box-shadow: 0 7px 15px 0 rgba(0, 0, 0, .13), 0 1px 4px 0 rgba(0, 0, 0, .11);
}

@media (min-width: 350px) and (max-width: 1024px) {
    .main-page-box .game-title img {
        height: 100%;
        width: 80%;
        object-fit: contain;
        object-position: center;
    }

    .game-choice {
        width: 150px;
        height: 80px;
    }

    .game-choice .game-choice-box {
        height: 50px;
        width: 50px;
        font-size: 1.5rem;
    }

    .flags-container .flag-box {
        height: 150px;
    }

    .option-container {
        width: 80%;
    }

    .score-box {
        font-size: 1.2rem;
    }

    .score-box .score {
        gap: 3rem;
    }

    .game-score {
        font-size: 1.5rem;
        width: 50px;
        height: 50px;
    }

    .sound-box {
        width: 50px;
        height: 50px;
    }

    .option-container .option {
        font-size: 1.5rem;
    }

    .flags-container .flag-box {
        height: 130px;
    }
}